body {
    font-family: Arial, Helvetica, sans-serif;
}
header
{
	position: absolute;
	top: 0;
	left: 0;
	width: 86.4%;
	padding: 20px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header .logo
{
	position: relative;
	max-width: 100px;
}
header ul
{
	position: relative;
	display: flex;
}
header ul li
{
	list-style: none;
}
header ul li a
{
	display: inline-block;
	color: #333;
	font-weight: 600;
	margin-left: 40px;
	text-decoration: none;
}

.info {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 8%;
    width: 60%;
}

.header-brand {
	font-size: 12px;
	text-align: center;
	color: rgb(145, 144, 144);
}

.header-title {
    font-size: 25px;
	text-align: center;
}

.header-info {
	font-size: 12px;
	text-align: center;
	color: rgb(145, 144, 144);
}

.header-details {
    font-size: 16px;
    font-weight:100;
}

footer {
    background-color: black;
    color: white;
    position: absolute;
    right: 0;
    bottom:0;
    left:0;
    text-align: center;
}

ul {
    list-style-type: none;
}



.product-image {
	width: 30%;
	position: absolute;
	top: 20%;
	left: 15%;
}

.product-info {
	width: 30%;
	position: absolute;
	top: 20%;
	right: 15%;
}

.list-img {
	float: left;
	padding-right: 20px;
	cursor: pointer;
}

.list-img img{
	border: 3px solid rgb(241, 238, 238);
	border-radius: 10px;
}

#list-img-1 {
	border: 3px solid rgb(111, 28, 238);
}

#display-pic {
	border: 3px solid rgb(241, 238, 238);
	border-radius: 10px;
}

#header-price {
	text-align: center;
	font-size: 20px;
}


/* .size-element {
	display: inline;
	padding: 7px 7px;
	border: 2px solid #333;
	line-height: 250%;
	cursor: pointer;
} */

.product-sizing {
	position: relative;
	margin-top: 10%;
}

*[id^='size-element'] {
	display: inline;
	padding: 7px 7px;
	border: 2px solid #333;
	line-height: 250%;
	cursor: pointer;
}

*[id^='size-element-11'] {
	display: inline;
	padding: 7px 7px;
	border: 2px solid rgb(100, 100, 100);
	background-color: rgba(190, 187, 184, 0.726);
	color: rgb(122, 115, 115);
	line-height: 250%;
	cursor: pointer;
}
  
#contact-info {
	font-size: 16px;
	text-align: center;
	margin-top: 15%;

}
