body {
    font-family: Arial, Helvetica, sans-serif;
}


header
{
	top: 0;
    width: 100%;
	padding: 0px;; 
	display: flex;
	justify-content: space-between;
    align-items: center;
}

.navigation {
    right: 2.5%;
}

header .logo
{
    left: 2.5%;

    max-width: 100px;

}
header ul
{
	position: relative;
	display: flex;
}
header ul li
{
	list-style: none;
}
header ul li a
{
    font-family: Arial, Helvetica, sans-serif;
	display: inline-block;
	color: #333;
	font-weight: 600;
	margin-left: 40px;
	text-decoration: none;
}

.info {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 0%;
    width: 60%;
}

.header-title {
    font-size: 40px;
    text-align: center;
}

.dev-div {
    margin-top: 28%;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;

}

.dev-list {
    list-style-type: none;
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
    width:fit-content;

}

.socials-icons:hover {
    transform: translateY(-2px);
}

ul li {
    display: inline-block;
}

.profile-img {
    border-radius: 100%;
    border: 3px solid black;
    width: 75px;
}

.profile-img:hover {
    transform: translateY(-10px);
    border: 3px solid rgb(46, 126, 231);
    box-shadow: 0px 12px 5px rgb(177, 176, 176);
}

li img {
    /* position: relative; */
    top: 0%;
    cursor: pointer;
}

.profile-name {
    padding: 5px 15px 5px 15px;
}

.profile-info {
    width: 100%;
    position: relative;
    top: 5%;
}

.profile-pic {
    width: 35%;
    position: absolute;
    left: 20%;
}

.profile-text {
    width: 45%;
    position: absolute;
    right: 5%;
    height: 100%;
    margin-top: 5%;
    font-size: 20px;
}

#person-name-value {
    font-size: 24px;
    color: rgb(46, 126, 231);
    font-weight: 800;
}

#person-picture {
    border-radius: 100%;
    border: 3px solid black;
    cursor: pointer;
    width: 350px;
}

#person-blurb {
    margin-top: 2.5%;
    line-height: 150%;
}

#person-socials {
    margin: 2.5% 0;
    padding: 0;
}

.socials-icons{
    margin-left: 0;
    padding: 10px 10px 0px 0px;
}

.socials-img {
    width: 25px;
}

@media screen and (max-width: 800px) {
    .header-title {
        font-size: 20px 
    }
    header .logo {
        max-width: 50px;
    }
    header ul li a {
        color: #333;
        font-weight: 600;
        margin-left: 5px;
        font-size: 10px;
        text-decoration: none;
        padding-left: 10px;
    }

    .header-details {
        font-size: 14px;
    }

    #person-picture {
        width: 275px;
        border: 1.5px solid black;
    }
    .profile-info {
        width: 100%;
        position: relative;
        top: 5%;
    }

    /* .profile-pic {
        display: block;
        margin-left: auto;
        margin-right: auto;
    } */

    .profile-text {
        width: 70%;
        position: absolute;
        margin-top: 60%;
        margin-left: 15%;
        margin-right: 15%;
        font-size: 14px;
    }

    #person-name-value {
        font-size: 18px;
    }

    .socials-img {
        width: 15px;
    }

    #person-socials {
        margin: 1% 0;
        padding: 0;
    }

    .dev-div {
        margin-top: 95%;
    }

    .dev-list {
        width:fit-content;
        margin-left: -5%;
    }


    .profile-img {
        border-radius: 100%;
        border: 1.5px solid black;
        width: 35px;
    }

    .profile-img:hover {
        transform: translateY(-5px);
        border: 1.5px solid rgb(46, 126, 231);
        box-shadow: 0px 6px 2.5px rgb(177, 176, 176);
    }
}