<!doctype html>
<html>
<head>
    {{>headInfo}}
    <link rel="stylesheet" href="/css/styleshomepage.css">
</head>

<body>
    {{>header}}

    <div class="welcome-img">
        <h1 class="welcome-button">Shop Now!</h1>
    </div>

    {{>footer}}

</body>