<!DOCTYPE html>
<html lang="en">
<head>
	{{>headInfo}}
	<link rel="stylesheet" href="/css/sale/stylesSale.css">
	<link rel="stylesheet" type="text/css" href="/css/sale/lightslider.css">
	<script type="text/javascript" src="../js/sale/JQuery3.3.1.js"></script>
	<script type="text/javascript" src="../js/sale/lightslider.js"></script>
</head>
<body>
	{{>header}}
	<section>
		<div class="heading">
			<h2>FLASH SALE</h2>
			<p>UP TO 50% OFF FOR A LIMITED TIME ONLY</p>
		</div>
		<div class="timer">
			<p id="day"></p>
			<h6>DAYS</h6>
		</div>
		<div class="timer">
			<p id="hour"></p>
			<h6>HOURS</h6>
		</div>
		<div class="timer">
			<p id="minute"></p>
			<h6>MINUTES</h6>
		</div>
		<div class="timer">
			<p id="second"></p>
			<h6>SECONDS</h6>
		</div>
	</section>
	<div class="container">
		<!-- slider -->
		<ul id="autoWidth" class="cs-hidden">
			<!-- 1 -->
			<li class="item-a">
				<div class="box">
					<p class="productName">Jordan 1 Retro High Bred Toe</p>
					<img src="../img/about/bredtoe.png" class="productPic">
					<div class="desc">
						<h2><del>WAS: $900</del><br><span>NOW: $600</span></h2>
						<p>Size: 12 US MEN'S<br>Condition: 10/10 DEADSTOCK<br></p>	
					</div>
				</div>
			</li>
			<!-- 2 -->
			<li class="item-a">
				<div class="box">
					<p class="productName">Jordan 4 Retro Bred</p>
					<img src="../img/about/bred4.png" class="productPic">
					<div class="desc">
						<h2><del>WAS: $900</del><br><span>NOW: $600</span></h2>
						<p>Size: 12 US MEN'S<br>Condition: 10/10 DEADSTOCK<br></p>	
					</div>
				</div>
			</li>
			<!-- 3 -->
			<li class="item-a">
				<div class="box">
					<p class="productName">Jordan 6 Retro UNC</p>
					<img src="../img/about/unc6.png" class="productPic">
					<div class="desc">
						<h2><del>WAS: $900</del><br><span>NOW: $600</span></h2>
						<p>Size: 12 US MEN'S<br>Condition: 10/10 DEADSTOCK<br></p>	
					</div>
				</div>
			</li>
			<!-- 4 -->
			<li class="item-a">
				<div class="box">
					<p class="productName">Jordan 1 Retro High Bred Toe</p>
					<img src="../img/about/bredtoe.png" class="productPic">
					<div class="desc">
						<h2><del>WAS: $900</del><br><span>NOW: $600</span></h2>
						<p>Size: 12 US MEN'S<br>Condition: 10/10 DEADSTOCK<br></p>	
					</div>
				</div>
			</li>
			<!-- 5 -->
			<li class="item-a">
				<div class="box">
					<p class="productName">Jordan 4 Retro Bred</p>
					<img src="../img/about/bred4.png" class="productPic">
					<div class="desc">
						<h2><del>WAS: $900</del><br><span>NOW: $600</span></h2>
						<p>Size: 12 US MEN'S<br>Condition: 10/10 DEADSTOCK<br></p>	
					</div>
				</div>
			</li>
			<!-- 6 -->
			<li class="item-a">
				<div class="box">
					<p class="productName">Jordan 6 Retro UNC</p>
					<img src="../img/about/unc6.png" class="productPic">
					<div class="desc">
						<h2><del>WAS: $900</del><br><span>NOW: $600</span></h2>
						<p>Size: 12 US MEN'S<br>Condition: 10/10 DEADSTOCK<br></p>	
					</div>
				</div>
			</li>
		</ul>
	</div>
	{{>footer}}
	<script src="../js/sale/sale.js" type="text/javascript"></script>
</body>
</html>