<div class="footer">
    <div class="footerContent">
        <div class="footerSectionAbout">
            <h2>SOCIETY STREETWEAR <span>TORONTO</span></h2>
            <p>
                Commited to fulfilling your streetwear needs since 2019.
            </p>
        </div>
        <div class="footerSection">
            <h2>QUICK LINKS<br></h2>
            <ul>
                <li><a href="/meetUs">Meet This Website's Developers!</a></li>
                <li><a href="#"><li>Privacy Policy</a></li>
                <li><a href="#"><li>Terms Of Service</a></li>
            </ul>
        </div>
        <div class="footerSection">
            <h2>CONTACT US!<br></h2>
            <div class="contact">
                <span><i class="fa fa-envelope"></i>&nbsp;&nbsp;&nbsp;&nbsp;info@societystreetwear.to<br></span>
                <span><a href="https://www.instagram.com/societystreetwear.to/"><i class="fa fa-instagram"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;@societystreetwear.to</span>
            </div>
        </div>
    </div>
    <div class="footerBottom">
        Copyright &copy; 2021 SOCIETYSTREETWEAR.TO | Proudly Built In Scarborough
    </div>
</div>