@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

body
{
	margin: 0;
}
#page-container
{
	position: relative;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #fff;
}
#main-content
{
	padding-bottom: 250px;
	min-height: 100vh;
}

header
{
	top: 0px;
    width: 100%;
	padding: 0px;
	padding-top: 8px; 
	display: flex;
	justify-content: space-between;
    align-items: center;
}

.navigation
{
    right: 3.04%;
}

header .logo
{
    left: 2.5%;
    padding-left: 8%;
    max-width: 100px;

}
header ul
{
	position: absolute;
	display: flex;
}
header ul li
{
	list-style: none;
}
header ul li a
{
    font-family: Arial, Helvetica, sans-serif;
	display: inline-block;
	color: #333;
	font-weight: 600;
	margin-left: 40px;
	text-decoration: none;
}
.content
{
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.content .textBox
{
	padding: 50px;
	padding-top: 0px;
	padding-bottom: 125px;
	position: relative;
	max-width: 60%;
}
.content .textBox h2
{
	font-family: Courier;
	color: #333;
	font-size: 3.5em;
	line-height: 1.2em;
	font-weight: 500;
}
.content .textBox h2 span
{
	font-family: Impact;
	color: #50E3C2;
	font-size: 1em;
	font-weight: 900;
}
.content .textBox p
{
	content: #333;
	line-height: 25px;
}
.content .textBox .button a
{
	display: inline-block;
	margin-top: 20px;
	padding: 8px 20px;
	background: #E36D50;
	color: #fff;
	border-radius: 40px;
	font-weight: 400;
	letter-spacing: 1px;
	text-decoration: none;
}
.content .imgBox
{
	width: 500px;
	display: flex;
	justify-content: flex-end;
	padding-right: 90px;
	margin-top: 275px;
}
.content .imgBox img
{
	max-height: 250px;
	max-width: 290px;
}
.thumb
{
	position: absolute;
	left: -30px;
	bottom: 250px;
	display: flex;
}
.thumb li
{
	list-style: none;
	display: inline-block;
	margin: 5px;
	cursor: pointer;
	transition: 0.5s;
}
.thumb li:hover
{
	transform: translateY(-15px);
}
.thumb li img
{
	max-width: 40px;
}
.thumb li figcaption
{
	font-family: impact;
	font-size: 0.65em;
	text-align: center;
}
.circle
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #50E3C2;
	clip-path: circle(600px at right 800px);
}
/* FOOTER CSS */
.footer
{
	font-family: Arial, Helvetica, sans-serif;
    background-color: #303036;
    color: #D3D3D3;
    position: absolute;
    bottom:0;
    height: 250px;
    width: 100%
}
.footer .footerContent
{
	display: flex;
}
.footer .footerContent .footerSectionAbout, .footer .footerContent .footerSection
{
	flex: 1;
	padding-top: 20px;
	padding-left: 50px;
	font-family: Monaco;
}
.footer .footerContent .footerSectionAbout h2
{
	color: white;
	font-size: 1em;
}
.footer .footerContent .footerSectionAbout h2 span
{
	color: #50E3C2;
}
.footer .footerContent .footerSectionAbout p
{
	font-size: 0.75em;
	font-family: Monaco;
	margin-bottom: 20px;
}
.footer .footerContent .footerSection h2
{
	color: white;
	font-size: 1em;
	margin-left: 40px;
}
.footer .footerContent .footerSection ul
{
	display: block;
}
.footer .footerContent .footerSection ul li
{
	list-style: none;
	list-style-position: outside;
}
.footer .footerContent .footerSection ul li a
{
	color: #D3D3D3;
	text-decoration: none;
	font-size: 0.8em;
	margin-bottom: 8px;
}
.footer .footerContent .footerSection ul li a:hover
{
	color: white;
	transition: all .25s;
}
.footer .footerContent .footerSection .contact span
{
	display: block;
	font-size: 0.8em;
	margin-bottom: 8px;
	margin-left: 40px;
}
.footer .footerContent .footerSection .contact span:hover, .footer .footerContent .footerSectionAbout .contact span a:hover
{
	color: white;
	transition: all .25s;
}
.footer .footerContent .footerSection .contact span a
{
	color: #D3D3D3;
}
.footer .footerBottom
{
	background: #343A40;
	color: #686868;
	height: 40px;
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0px;
	left: 0px;
	padding-top: 20px;
}
/* FOOTER CSS */
@media screen and (max-width: 1025px)
{
	#main-content
	{
		padding-bottom: 200px;
	}
	.content .textBox h2
	{
		font-size: 2.65em;
		line-height: 1.2em;
		font-weight: 500;
	}
	.content .textBox .button a
	{
		font-size: 12px;
	}
	.content .imgBox
	{
		width: 140px;
		height: 140px;
		margin-top: 275px;
	}
	.content .imgBox img
	{
		width: 140px;
		height: 140px;
	}
	.circle
	{
		width: 100%;
		height: 100%;
		clip-path: circle(500px at right 800px);
	}
	.thumb
	{
		bottom: 200px;
	}
	.footer
	{
		height: 200px;
	}
	.footer .footerContent .footerSectionAbout, .footer .footerContent .footerSection
	{
		padding-top: 10px;
	}
	.footer .footerContent .footerSectionAbout p, .footer .footerContent .footerSection ul li a, .footer .footerContent .footerSection .contact span
	{
		font-size: 8px;
	}
	.footer .footerContent .footerSection ul
	{
		margin-top: 0px;
	}
	.footer .footerBottom
	{
		height: 30px;
		padding-top: 15px;
	}
}
@media screen and (max-width: 800px)
{
	#main-content
	{
		padding-bottom: 300px;
	}
	header .logo
	{
        max-width: 50px;
    }
    header ul li a
    {
        font-weight: 600;
        margin-left: 5px;
        font-size: 10px;
        padding-left: 10px;
    }
    .content
    {
    	flex-direction: column;
    }
    .content .textBox
	{
		padding: 50px;
		padding-top: 0px;
		position: relative;
		max-width: 90%;
		padding-bottom: 0px;
	}
	.content .textBox p
	{
		font-size: 13.5px;
	}	
	.content .textBox .button a
	{
		padding: 8px 10px;
		font-size: 8.25px;
	}
	.content .imgBox
	{
		width: 100px;
		height: 100px;
		margin-top: 12px;
		margin-left: 100px;
		justify-content: center;
	}
	.content .imgBox img
	{
		width: 100px;
		height: 100px;
	}
	.circle
	{
		clip-path: circle(470px at right 700px);
	}
	.thumb
	{
		bottom: 300px;
		left: 0px;
		display: block;
	}
	.thumb li
	{
		margin: 2px;
	}
	.thumb li figure
	{
		margin-left: 15px;
		margin-right: 15px;
	}
	.thumb li img
	{
		max-width: 20px;
	}
	.thumb li figcaption
	{
		font-size: 8.5px;
	}
	.footer
	{
		height: 300px;
	}
	.footer .footerContent
	{
		height: auto;
		flex-direction: column;
	}
	.footer .footerContent .footerSection
	{
		padding-left: 10px;
		padding-top: 0px;
	}
	.footer .footerContent .footerSectionAbout h2, .footer .footerContent .footerSection h2
	{
		font-size: 12px;
		margin-bottom: 0px;
	}
	.footer .footerContent .footerSection .contact
	{
		margin-top: 10px;
	}
	.footer .footerBottom
	{
		height: 20px;
		padding-top: 10px;
		font-size: 8px;
	}
}
@media screen and (max-width: 425px)
{
	header .logo
	{
        max-width: 40px;
    }
    header ul li a
    {
        font-size: 6.5px;
    }
    .content .textBox h2
    {
    	font-size: 35px;
    }
    .content .textBox p
    {
    	font-size: 11px;
    	margin-bottom: 0px;
    }
    .content .textBox .button a
    {
    	padding: 6px 8px;
		font-size: 8.5px;
    }
    .circle
	{
		clip-path: circle(400px at right 800px);
	}
	.content .imgBox
    {
    	display: none;
    }
	.thumb
	{
		left: 0px;
		display: flex;
	}
	.thumb li
	{
		margin: 2px;
	}
	.thumb li figure
	{
		margin-left: 7px;
		margin-right: 7px;
	}
	.thumb li img
	{
		max-width: 20px;
	}
	.thumb li figcaption
	{
		font-size: 8px;
	}
}
/* iPhone 6, 6S, 7, 8 */
@media only screen
	and (min-device-width: 375px)
	and (max-device-width: 667px)
	and (-webkit-min-device-pixel-ratio: 2)
{
	header ul li a
    {
        font-size: 8.5px;
    }
	.content .imgBox
	{
		display: flex;
		margin-top: -10px;
		padding-right: 0px;
		padding-left: 90px;
	}
	.circle
	{
		clip-path: circle(430px at right 800px);
	}
	.thumb li
	{
		margin: 10px;
	}
	.thumb li img
	{
		max-width: 25px;
	}
	.thumb li figcaption
	{
		font-size: 8.5px;
	}
}
/* iPhone 6/7/8 Plus */
@media only screen
	and (min-device-width: 414px)
	and (max-device-width: 736px)
	and (-webkit-min-device-pixel-ratio: 3)
{
	header ul li a
    {
        font-size: 9px;
    }
	.content .imgBox
	{
		display: flex;
		padding-right: 0px;
		padding-left: 90px;
		padding-top: 75px;
		width: 135px;
		height: 135px;
	}
	.content .imgBox img
	{
		width: 135px;
		height: 135px;
	}
	.thumb li
	{
		margin: 12px;
	}
	.thumb li img
	{
		max-width: 30px;
	}
	.thumb li figcaption
	{
		font-size: 9px;
	}
}
/* iPhone X */
@media only screen
	and (min-device-width: 375px)
	and (max-device-width: 812px)
	and (-webkit-min-device-pixel-ratio: 3)
{
	header ul li a
    {
        font-size: 9px;
    }
	.content .imgBox
	{
		display: flex;
		padding-right: 80px;
		padding-left: 0px;
		padding-top: 75px;
		width: 135px;
		height: 135px;
	}
	.content .imgBox img
	{
		width: 135px;
		height: 135px;
	}
	.thumb li
	{
		margin: 8px;
	}
	.thumb li img
	{
		max-width: 30px;
	}
	.thumb li figcaption
	{
		font-size: 9px;
	}
}